.side-bar {
  float: left;
  &__header {
    height: 100px;
    width: 300px;
    background-color: #253141;
    display: flex;
    align-items: center;
    &__box {
      height: 20px;
      width: 100%;
      margin: 0 20px;

      display: flex;
      justify-content: space-between;
      &__name {
        font-size: 16px;
        line-height: 20px;
        color: white;
        font-weight: bold;
      }
      &__menu {
        display: flex;
        height: 20px;
        align-items: center;
        li { 
          a {
            color: white;
            text-decoration: none;
            font-size: 0.9rem;
            margin-right: 5px;
          }
        }
      }
    }
  }
  &__group-list {
    height: calc(100vh - 100px);
    width: 300px;
    background-color: #2f3e51;
    .group {
      &-list__box {
        height: 91px;
        width: 100%;
        position: relative;
        &__group {
          height: 15px;
          position: absolute;
          top: 20px;
          right: 20px;
          bottom: 0px;
          left: 20px;
          &-name {
            color: #ffffff;
            position: absolute;
            bottom: -2px;
            font-size: 15px;
          }
        }
        &__message {
          height: 11px;
          position: absolute;
          top: 40px;
          right: 20px;
          bottom: 0px;
          left: 20px;
          &-list {
            color: #ffffff;
            position: absolute;
            top: 2px;
            font-size: 11px;
          }
        }
      }
    }
  }
}

.chat-main {
  float: right;
  &__group-info {
    height: 99px;
    width: calc(100vw - 300px);
    color: #eeeeee;
    position: relative;
    border-bottom: 1px solid;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    &__box {
      width: 300px;
      height: 100px;
      margin-left: 40px;
      position: relative;
      &-group-name {
        width: 100%;
        height: 20px;
        position: absolute;
        top: 35px;
        color: #333333;
        font-size: 20px;
      }
      &-member {
        width: 300px;
        height: 12px;
        position: absolute;
        left: 40px;
        bottom: 0px;
        padding-bottom: 5px;
        &-name {
          font-size: 12px;
          color: #999999;
        }
      }
    }
    &__box-btn {
      right:      40px;
      width:      72px;
      height:     40px;
      margin-top: 28px;
      line-height:40px;
      position: absolute;
      text-align: center;
      border: 1px solid #38aef0;
      a {
        text-decoration: none;
        display: block;
        color: #38aef0;
      }
    }
  }
  .messages {
    background-color: #FAFAFA;
    box-sizing: border-box;
    padding: 46px 40px 0;
    height: calc(100vh - 100px - 90px);
    overflow: scroll;
    .message {
      .upper-message {
        display: flex;
        &__user-name {
          color: #434a54;
          font-size: 16px;
          font-weight: bold;
        }
        &__date {
          color: #999;
          font-size: 12px;
          padding-left: 10px;
        }
      }
      .lower-message {
        margin-top: 10px;
        &__content {
          color: #434a54;
          font-size: 14px;
          margin-bottom: 40px;
        }
      }
    }
  }

  .form {
    height: 90px;
    width: calc(100vw - 300px);
    background-color: #d2d2d2;
    position: relative;
    .form__message {
      height: 50px;
      width: calc(100vw - 300px - 80px - 15px - 100px);
      position: absolute;
      top: 20px;
      left: 40px;
      background-color: white;
    }
    .form__mask__image {
      position: absolute;
      top: 30px;
      font-size: 1.5rem;
      right: 170px;
      cursor: pointer;
      display: block;
      .hidden {
        display: none;
        text-decoration: none;
      }
    }
    .form__submit {
      position: absolute;
      right: 20px;
      top: 20px;
      width: 100px;
      height: 50px;
      display: inline-block;
      background-color: #38aef0;
      color: white;
      cursor: pointer;
    }
  }
}



//   }
//   &__message-form {
//     height: 90px;
//     width: calc(100vw - 300px);
//     background-color: #d2d2d2;
//     position: relative;
//     .form__message {
//       position: absolute;
//       top: 20px;
//       right: 40px;
//       height: 50px;
//       width: 100px;
//       background-color: #38aef0;
//       text-align: center;
//       line-height: 50px;
//       a {
//         text-decoration: none;
//         display: block;
//         color: white;
//       }
//     }
//     &form__mask {
//       height: 50px;
//       width: calc(100vw - 300px - 80px - 15px - 100px);
//       position: absolute;
//       top: 20px;
//       left: 40px;
//       background-color: white;
//       position: relative;
//       &-text {
//         color: gray;
//         position: absolute;
//         top: 12px;
//         left: 10px;
//       }
//       &-image {
//         width: 25px;
//         height: 100%;
//         right: 10px;
//         position: absolute;
//         .image__reference-btn {
//           display: none;
//         }
//         .input-box__image {
//           font-size: 1.5rem;
//           margin-top: 7px;
//           display: block;
//           cursor: pointer;
//         }
//       }
//     }
//   } 
// }